<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PathOfLowestCost.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D43FABAF1DAECE8B00640774</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D43FABC31DAECE8B00640774</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D43FABCE1DAECE8B00640774</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
